@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

.header {
    color: black;   
    font-family: 'Miriam Libre', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.aboutuscontent {
    color: black;
    font-family: 'Miriam Libre', sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    margin-left: 20px;
}

.AboutUs {
    background-color: rgba(242,136,75,1);
    color: white;
}

.list {
    font-size: 1.5rem;
    margin-left: 20px;
    font-family: 'Miriam Libre', sans-serif;
}

.message {
    text-align: center;
    font-family: 'Miriam Libre', sans-serif;
    margin-bottom: 40px;
}